In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 了解一二月民眾借閱偏好—最喜歡什麼樣的作品？

In [2]:
#讀取新北圖書館每月借閱排行版數據:一月
lib_bor_jan = pd.read_excel("https://www.library.ntpc.gov.tw/MainPortalAdmin/document/htmlCnt/2021030217530117-11001%E7%86%B1%E9%96%80%E5%80%9F%E9%96%B1%E6%8E%92%E8%A1%8C%E6%A6%9C.xlsx", header = 2)

In [3]:
#檢視資料樣子
lib_bor_jan.head()

  排行名次           ISBN          書名    作者    出版社   借閱次數 類別(圖書、電子書)
0    1  9789571078700      武動乾坤    天蠶土豆     尖端  310.0        紙本書
1    2  9789571356778      日月當空      黃易    時報   243.0        紙本書
2    3  9789571337371  大唐雙龍傳修訂版      黃易    時報   166.0        紙本書
3    4  9789863190899      龍戰在野      黃易     蓋亞  155.0        紙本書
4    5  9789579614160      凶宅筆記     貳十三  知翎文化   137.0        紙本書

In [5]:
#下載二月資料後，合併一二月資料
lib_bor_feb = pd.read_excel("https://www.library.ntpc.gov.tw/MainPortalAdmin/document/htmlCnt/2021032417580927-11002%E7%86%B1%E9%96%80%E5%80%9F%E9%96%B1%E6%8E%92%E8%A1%8C%E6%A6%9C.xlsx", header = 2)
lib_bor_all = pd.concat((lib_bor_jan[:-1], lib_bor_feb[:-1]), keys = ('一月', '二月'))
lib_bor_all.shape

(200, 7)

In [6]:
#最紅的書依序是？
lib_bk_rank = lib_bor_all.groupby('ISBN').agg({'書名':'first', '作者': 'first', '借閱次數':sum}).sort_values('借閱次數', ascending = False)
lib_bk_rank

                                      書名    作者   借閱次數
ISBN
9789571078700                     武動乾坤    天蠶土豆  537.0
9789571356778                     日月當空      黃易  394.0
9789571337371                 大唐雙龍傳修訂版      黃易  353.0
4715243776860                     天地明環      黃易  269.0
9789579614160                     凶宅筆記     貳十三  247.0
...                                  ...   ...    ...
9789573264354              波西傑克森 1  神火之賊   萊爾頓   33.0
9789575709938                紅樓夢 : 白話改寫版   卓心玉   33.0
9789866954788                        白夜行  東野圭吾   32.0
9789573330615                      學生街殺人  東野圭吾   32.0
9789866408557  這樣裝潢不後悔 : 百筆血淚經驗告訴你的裝修早知道    姥姥   32.0

[125 rows x 3 columns]

In [7]:
#前五名書籍
a = lib_bk_rank['借閱次數']/sum(lib_bk_rank['借閱次數'])*100
lib_bk_rank = lib_bk_rank.assign( 借閱占比 = a.round(2))
print(lib_bk_rank.shape)
lib_bk_rank[0:5]

(125, 4)

                       書名    作者   借閱次數  借閱占比
ISBN
9789571078700      武動乾坤    天蠶土豆  537.0  4.17
9789571356778      日月當空      黃易  394.0  3.06
9789571337371  大唐雙龍傳修訂版      黃易  353.0  2.74
4715243776860      天地明環      黃易  269.0  2.09
9789579614160      凶宅筆記     貳十三  247.0  1.92

In [8]:
#前五名作者？
lib_aut_rank = lib_bor_all.groupby('作者').agg({'書名':'first', 'ISBN': 'first', '借閱次數':sum}).sort_values('借閱次數', ascending = False)
lib_aut_rank
b = lib_aut_rank['借閱次數'] / sum(lib_aut_rank['借閱次數']) *100
lib_aut_rank = lib_aut_rank.assign( 借閱占比 = b.round(2))
print(lib_aut_rank.shape)
lib_aut_rank.iloc[0:6, [3]]

(80, 4)

       借閱占比
作者
黃易    11.35
羅琳     8.45
金庸     7.47
金庸     4.76
天蠶土豆   4.17
鄭丰     3.93

發現金庸有兩列! 可能還有其他相同作者，而統計於不同列之資料需合併，整理完之結果才準確
<br>

### Follow-ups
1. 多檔案讀取 <br>
2. 文字資料清理、同欄位內容相似度比對